body{
    width: 100%;
    margin: 0;
    display: grid;
    max-height: auto;
}
.hero-img{
    width: 100%;
}
.bottom {
    margin: 0;
    float: center;
    display: grid;
    place-items: center;
    justify-items: center;
    padding-top: 50px;
    padding-left: 228px;
    justify-content: right;
    background-color: #737373;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    max-height: 900px;
    
}
.logo{
    

}
.logo img{
    width: 55%;
    border-radius: 50%;
    border: 15px solid #444444;
    
}