@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Ubuntu:wght@300&display=swap');

:root {
  --primary-color: #5AA9E7;
  --secondary-color: #464041;
  --accent1-color: #CC6C0B;
  --accent2-color: #FEFEFE;
  --heading-font: "Braah One";
  --paragraph-font: "Ubuntu", Helvetica, sans-serif;
  --headline-color-on-white: #464041;
  --headline-color-on-color: #FEFEFE;
  --paragraph-color-on-white: #211F1C;
  --paragraph-color-on-color: #FEFEFE;
  --paragraph-background-color: #5AA9E6;
  --nav-link-color: #FEFEFE;
  --nav-background-color: #464041;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #211F1C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

.logo {
  width: 80px;
  margin-right: 300px;
}

body {
  background-color: var(--primary-color);
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary-color);
  align-items: center;
  padding-top: 10px;
  padding-bottom: 4px;
}

#content {
  margin: auto;
  text-align: center;
  font-family: var(--paragraph-font);
  max-width: 1600px;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

#hero-img,
.ronny {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.msg-img {
  grid-column: 2/span 6;
  grid-row: 5/span 3;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000;
}

#hero-box {
  grid-column: 1/ span 3;
  grid-row: 1/ span 2;
}

#hero-msg {
  background-color: #454041dc;
  padding: 44px;
  position: absolute;
  top: 314px;
  left: 64%;
  transform: translate(-50%, -50%);
  color: var(--accent2-color);
  border-radius: 10px;
}

#hero-msg h1 {
  text-align: center;
  margin:0;
  font-size: 2em;
}

#hero-msg h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 34px;
  color: #fff;
  font-size: 1.3em;
}

.button-box {
  text-align: center;
}

.card-img {
  width: 90%;
  justify-self: center;
  border: #CC6C0B solid 5px;
  overflow: hidden;
}

main {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(9, .5fr);
  grid-template-columns: repeat(10, 1fr);
}

.views-card {
  grid-column: 2/span 2;
  grid-row: 2;
  width: 100%;
}

.love-card {
  grid-column: 5/span 2;
  grid-row: 2;
}

.learning {
  grid-column: 8/span 2;
  grid-row: 2;
}

.card-img {
  border: 10px solid #bf712a;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #000;
}
.card-img:hover {
  opacity: .85;
  transform: scale(1.4);
}


main section {
  box-sizing: border-box;
  text-align: center;
}

main section img {
  width: 100%;
}

nav {
  align-content: center;
}

nav a {
  padding: 25px;
  text-decoration: none;
  text-align: center;
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
}

.icon {
  max-width: 25%;
}

nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}

footer {
  text-align: left;
  background-color: var(--secondary-color);
  font-size: 1.2em;
}

.book, .join {
  background-color: #f3bb47;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #464646;
  color: white;
}

#background {
  height: 400px;
  background-color: var(--accent1-color);
  grid-row: 4/span 5;
  grid-column: 1/span 11;
  height: 100%;
}

.msg {
  padding: 25px;
  background-color: #211F1C;
  grid-row: 6;
  grid-column: 6/span 4;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #000;
  border-radius: 10px;
}
.msg h2{
  color: #5AA9E7;
}
.msg p {
  color: var(--paragraph-color-on-color);
  margin-bottom: 30px;
}

.home-title {
  color: #fff;
}

footer a {
  color: var(--accent2-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }

  nav,
  footer {
    flex-direction: column;
  }

  nav a {
    display: block;
    padding: 15px;
  }

  #hero {
    margin-top: 0;
  }

  #hero-msg {
    background-color: #454041dc;
    padding: 18px;
    position: absolute;
    top: 300px;
    left: 954px;
    transform: translate(-50%, -50%);
    color: var(--accent2-color);
    border-radius: 10px;
  }

  #hero-msg h4 {
    display: none;
  }
  #hero-msg h1{
    color:white;
  }
  .home-title {
    font-size: 25px;
    color: #6f7364;
  }

  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 59%;
  }

  #background {
    display: none;
  }

  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
.msg h2 {
  color: #5AA9E7;
}
  footer {
    margin-top: 25px;
  }
}
